.breadcrumb2{
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 8px;
    background-color: #ffffff;
}
.breadcrumb2 li{
    font-family: sans-serif, 微軟正黑體;
    list-style-type: none;
    display: inline-block;
}
.breadcrumb2 > li + li:before {
    color: #6c757d ;
    content: "> ";
    padding: 0 5px;
}