.main-image img{
    width: 100%;
}
.product-list{
    padding: 5% 0;
    background-color: #eeeeee;
}
.brand-title{
    /*background-color: #ffc107;*/
    padding: 30px 5%;
}
.brand-title h2{
    float: left;
}
#myCanvas{
    width: 1000px;
    height: 100px;
    /*border: solid 1px black;*/
}
@media screen and (max-width: 1200px) {
    #myCanvas{
        width: 40%;
    }
}
.list-row{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-col{
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.6);
    width: 43%;
    margin-bottom: 50px;
    background-color: #fdfdfe;
}
@media screen and (max-width: 799px){
    .list-col{
        width:100%;
    }
}
.list-img{
    margin-right:40px ;
    float: left;
    width: 250px;
    height: 250px;
}
@media screen and (max-width:1600px) and (min-width: 1400px) {
    .list-img{
        width:220px;
        height:220px;
    }
}
@media screen and (max-width:799px) and (min-width: 730px){
    .list-img{
        width: 180px;
        height: 180px;
    }
}
@media screen and (max-width: 729px) {
    .list-img{
        float: none;
        margin: 0 auto;
    }
}
@media screen and (max-width:1399px) and (min-width: 800px){
    .list-img{
        float: none;
        margin: 0 auto;
    }
}
.list-card img{
    width: 100%;
}
.card-body{
    color: #5f5e5e;
    /*background-color: #28a745;*/
}
.card-body h6{
    font-size: 32px;
}
@media screen and (max-width:1600px){
    .card-body h6{
        font-size: 28px;
    }
}
.card-body>p{
    padding: 18px 0 18px 0;
}
@media screen and (max-width:1600px) {
    .card-body>p{
        padding: 14px 0 10px 0;
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}
.list-buy{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}
.list-buy p{
    font-size: 28px;
}
@media screen and (max-width:1600px){
    .list-buy p{
        font-size: 24px;
    }
}
.list-buy button{
    color: #fdfdfe;
    letter-spacing: 2px;
    background-color: #b8b8b8;
    border: none;
    border-radius: 10px;
    width: 170px;
}
@media screen and (max-width:1600px){
    .list-buy button{
        width: 140px;
    }
}
.list-buy button:hover{
    border: 1px solid #5f5e5e;;
    background-color: #fdfdfe;
    color: #5f5e5e;
}
.pagination{
    padding-top: 30px;
    background-color: #eeeeee;
    margin: 0 auto;
}
.alert{
    margin: 50px auto 0 auto;
    width: 330px;
}